################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ConsoleAppbd/.vs/ConsoleAppbd
/ConsoleAppbd/ConsoleAppbd/obj/Debug
/ConsoleAppbd/ConsoleAppbd/bin/Debug
